* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Overpass', sans-serif;
}

/* Navigation */

header {
  display: flex;
  width: 100%;
  height: 180px;
  background-color: rgb(67, 67, 67);
}

.navbar {
  display: flex;
  align-items: center;
  width: 965px;
  margin: 0 auto 20px;
  padding: 20px;
}

.navbar div {
  flex-grow: 1;
  text-align: center;
  color: white;
}

/* Main */

.main-header {
  position: absolute;
  background-color: white;
  width: 400px;
  text-align: center;
  left: calc(50% - 200px);
}

.main-articles {
  display: flex;
  width: 100%;
  height: 1400px;
  flex-wrap: wrap;
}

.main-articles article {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.main-articles-1 {
  background-color: rgb(36, 35, 35);
  text-align: center;
}

.main-articles-2 {
  background-color: rgb(180, 180, 180);
}

.main-articles-3 {
  background-color: rgb(112, 111, 111);
}

.main-articles-4 {
  background-color: rgb(138, 138, 138);
}

.happy-fox {
  height: 515px;
  width: 100%;
  background-color: rgb(163, 59, 154);
  display: flex;
  justify-content: center;
}

.happy-fox p {
  width: 50%;
  height: 150px;
  align-self: center;
}

.latest-post {
  display: flex;
  width: 100%;
  height: 615px;
}

.latest-post-1,
.latest-post-2,
.latest-post-3 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-post-1 {
  background-color: rgb(94, 96, 221);
}

.latest-post-2 {
  background-color: rgb(94, 221, 183);
}

.latest-post-3 {
  background-color: rgb(221, 94, 122);
}

.chef-fox{
  display:flex;
  height: 705px;
}

.chef-fox-2 {
  flex-grow: 2;
  height: 705px; 
  background-color: rgb(238, 28, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chef-fox-1 {
  flex-grow: 1;
  height: 257px;
  background-color: rgb(22, 25, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-fox{
  height: 1020px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display:flex;
  background-color: rgb(24, 224, 41);
}

.person {
  width: 100%;
  height: 360px;
  background-color: rgb(229, 241, 238);
}

.person article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.com-links {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.com-links article {
  width: 50%;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com-links-1 {
  background-color: rgb(94, 96, 221);
}

.com-links-2 {
  background-color: rgb(177, 221, 94);
}

.com-links-3 {
  background-color: rgb(112, 113, 128);
}

.com-links-4 {
  background-color: rgb(221, 94, 221);
}

.com-links-5 {
  background-color: rgb(74, 213, 248);
}

.com-links-6 {
  background-color: rgb(228, 121, 33);
}

.design {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 20, 20);
  height: 415px;
}

footer {
  background-color: rgb(177, 221, 94);
  height: 685px;
  display: flex;
  justify-content: center;
}